.containerForm {
    display: flex;
    justify-content: center;
}

.productForm {
    background: var(--backgroundForm);
    box-shadow: 4px 4px 30px var(--box-shadow-form);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-left: 1px solid var(--form-border-left);
    border-top: 1px solid var(--form-border-left);
    border-right: 1px solid var(--form-border-right);
    border-bottom: 1px solid var(--form-border-right);
    border-radius: 16px;
    box-sizing: border-box;
    padding: 20px;
    width: 320px;
}

.buttonFormContent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.input-container {
    height: 30px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 20px;
}

