.titulo {
    font-size: 30px;
    text-align: center;
    height: 60px;
}

.logo {
    text-align: center;
    /* border-width: 0px 0px 6px 0px;
    border-style: solid;
    border-color: black; */
    background: rgb(229,255,213);
    background: radial-gradient(circle, rgba(229,255,213,1) 0%, rgba(229,255,213,0.6054796918767507) 13%, rgba(252,70,70,0) 50%);
    /* background: radial-gradient(circle, 
        rgba(255,255,255,1) 0%, 
        rgba(255,255,255,1) 25%, 
        rgba(77,172,80,0.7567401960784313) 41%, 
        rgba(77,158,81,1) 72%, 
        rgba(37,74,40,0.9360119047619048) 100%); */
}

