* {
    padding: 0;
    margin: 0;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Variables de color si el tema es nulo o light */
html {
    --sun-color: #07203d;
    --moon-color: #d46f37;
    --secondary-color: linear-gradient(0deg, #d46f37 0%, #07203d 100%);
}

/* Variables de color si el tema es dark */
html[data-theme="dark"] {
    --sun-color: #d46f37;
    --moon-color: #07203d;
    --secondary-color: linear-gradient(0deg, #07203d 0%, #d46f37 100%);
}

#root {
    background-color: #F4D03F;
    background: var(--secondary-color);
}
